div .gratform{
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
div .gratform form{
    width: 100%;
    /* border: 1px solid rgba(0, 0, 0, 0.384); */
    padding: 4px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div .gratform form input{
    width: 150%;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 4px;
    margin: 4px;
    background-color: #0c1814f8;
    color: grey;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.bt{
    max-width: 50%;
    min-width: 47%;
    border: none;
    margin: 4px;
    padding: 4px;
    color: white;
}
.bt2{
    background-color: rgb(21,153,87);
}
.btndiv{
    width: 148%;
}
@media screen and (Max-width: 425px) {
    div .gratform form{
        width: 70%;
    }
}