.Aboutdiv{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}
.imgabout{
    width: 20%;
}
.Aboutdiv p{
    width: 40%;
}
.back{
    padding: 5px;
    position: absolute;
    font-size: 1.5rem;
    padding: 10px;
}
.back:hover{
    cursor: pointer;
}
.footer-about{
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    /* height: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-about p{
    padding-top: 1%;
}
@media only screen and (max-width: 786px) {
    .imgabout{
        width: 50%;
    }
    .Aboutdiv p{
        width: 80%;
    }
}