body{
  background-color: #0c1814f8;
}
.h3{
  color: white;
  padding: 4px;
  font-family: 'Inter Tight', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding-left: 6rem;
  width: 40%;
}
.logoI{
  color: white;
  font-size: 4rem;
}
.nav1{
  padding: 5px 25px;
  display: flex;
  padding-left: 6rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}    
.gradname1{
  font-family: 'Chewy';
  color: rgb(193, 29, 226);
  float: left;
}
.a1{
float: right;
color: white;
}
.a2{
  color: white; 
}
.a1:hover{
  text-decoration: none;
  color: white;
}
@media screen and (Max-width: 425px) {
  .nav1{
    padding-left: 3rem;
  }
  .h3{
    width: 90%;
    font-size: medium;
    padding-left: 3rem;
  }
  .logoI{
    font-size: 3rem;
  }
  .a1{
    font-size: small;
  }
}